<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
    <customErrors mode="Off"/>
    <compilation debug="false" targetFramework="4.0" batch="false"/>
	</system.web>
	<appSettings>
		<!--<add key="cnstr" value="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\TripBooking.mdf;Integrated Security=True;User Instance=True"/>-->
    <add key="cnstr" value="Server=237a1fb3-9ad8-4968-944d-a3360066cec5.sqlserver.sequelizer.com;Database=db237a1fb39ad84968944da3360066cec5;User ID=mdievmtefuiuddvz;Password=iwfTqCwRrxcqz7tSnTNovHQj73KcanJLetx2Zi3bTKZBADRoCJJwBLGGN5Uv2tQd;"/>
	</appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
